footer {
    position: relative;
    z-index: 99;
    margin-top: -14px;
    background: #09041f;
    color: white
}

#logo-footer {
    position: absolute;
    left: 50%;
    top: 0;
    margin: 36px 0 0 -95px;
    width: 190px;
    height: 68px;
    background: url(../img/logo-footer.png)
}

footer p {
    font-size: 16px;
    text-align: center;
    margin-top: 102px
}

footer .container {
    max-width: 960px;
    width: auto;
}
